body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    background-image: url(../Downloads/img/lappeenrantasatama.jpg);
    background-repeat: no-repeat;
    height: 170px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;

}

a {
    border: 2px solid gray;
    padding: 5px;
    background-color: #333;
}

p {
    letter-spacing: 2px;
    line-height: 25px;
}

.hero {
    background-color: whitesmoke;
    padding: 50px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.box {
    background-color: lightblue;
    padding: 20px;
    flex: 1;
    max-width: 300px;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}
@media (max-width: 768px) {          /**CSS2:ssa käyttöön otettu @media-sääntö mahdollisti erilaisten tyylisääntöjen määrittämisen eri mediatyypeille.**/

    .content{
        flex-direction: column;
        align-items: center;
    }

}

table {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}